/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/08/2018, 02:21:21 AM
    Author     : Marcello
*/

html, body{
    background-image: url("img/formIngreso.jpeg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: inset 0px 0px 0px 100em rgba(0,0,0,0.50);
    -moz-box-shadow: inset 0px 0px 0px 100em rgba(0,0,0,0.50);
    box-shadow: inset 0px 0px 0px 100em rgba(0,0,0,0.50);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color: white;
    font-size: 20px;
    font-family: Lato;
}

.text-muted{
   color: white !important;
}
hr {
    max-width: 65px;
    border-width: 3px;
    border-color: #F05F44;
    animation-delay: 1.5s;
}
.faded {
    color: rgba(255, 255, 255, 0.8); 
}

header.startup {
    height: 100%;
}

header.startup hr {
    margin-top: 200px;
    margin-bottom: 10px; 
}

header.startup h1 {
    font-size: 2rem; 
}
.btn {
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 300px;
    font-family: 'Montserrat', sans-serif;

}

.btn-xl {
    padding: 1rem 2rem; 
}

.btn-primary {
    background: transparent;
    border: 3px solid #F05F44;
    animation-delay: 1.5s;
}

.btn-primary:hover {
    background-color: #ee4b08;
    border-color: #ee4b08;
    border-width: 5px;
    cursor: pointer;
}
